/* While dev, use fixed size "px". We'll transfer to "em" later */
/* 1 rem = 1 em = 18px */

/* ************************* */
/* BELOW 1344X */
/* ************************* */

@media (max-width: 74.7em) {
	.hero {
		max-width: 120rem;
	}

	.heading-primary {
		font-size: 4.6rem;
	}

	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* ************************* */
/* BELOW 1200PX */
/* ************************* */

@media (max-width: 66.7em) {
	html {
		font-size: 9px;
	}

	.header {
		padding: 0 3.2rem;
	}

	.hero {
		column-gap: 4.8rem;
	}

	.main-nav-list {
		gap: 3.2rem;
	}

	.heading-secondary {
		font-size: 3.6rem;
		letter-spacing: -0.75px;
	}

	.heading-tertiary {
		font-size: 2.4rem;
	}

	.container-full-bleed.grid {
		padding-left: 3.2rem;
	}
}

/* ************************* */
/* BELOW 945PX */
/* ************************* */

@media (max-width: 52.5em) {
	html {
		font-size: 8px;
	}

	.hero {
		display: flex;
		flex-direction: column;
		padding: 0 9.6rem;
		gap: 6.4rem;
	}
	.hero-img {
		width: 60%;
	}

	.hero-text-box {
		text-align: center;
	}

	.delivered-meals {
		justify-content: center;
	}

	.btn-container {
		margin-bottom: 2.8rem;
	}

	.hero-img-box {
		text-align: center;
	}

	.main-nav-list {
		position: absolute;
		top: 0;
		right: 0;

		background-color: rgba(255, 255, 255, 0.6);
		/* 
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px); */

		height: 100vh;
		width: 100vw;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4.8rem;
		transition: all 0.5s;

		transform: translateX(100%);
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	.nav-open .main-nav-list {
		transform: translateX(0);
		/* 1 */
		opacity: 1;
		/* 2 */
		pointer-events: auto;
		/* 3 */
		visibility: visible;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 3rem;
	}

	.menu-icon {
		display: block;
		z-index: 1000;
	}

	.nav-open .menu-icon ion-icon[name="close-outline"] {
		display: inline-block;
	}

	.nav-open .menu-icon ion-icon[name="menu-outline"] {
		display: none;
	}

	.featured-logo-board > img {
		height: 2.4rem;
	}

	.step-number {
		font-size: 7.6rem;
	}

	.meal-info {
		padding: 2.8rem 3.2rem;
	}

	.container-full-bleed.grid {
		grid-template-columns: unset;
	}

	.gallery.grid {
		grid-template-columns: repeat(6, 1fr);
	}

	.testimonial-text .grid:first-of-type {
		row-gap: 4.8rem;
	}

	.cta-board.grid {
		grid-template-columns: 60fr 40fr;
	}

	.cta-form {
		grid-template-columns: unset;
	}

	.form-btn {
		margin-top: 1rem;
	}
}

/*  */

@media (max-width: 39.2em) {
	.grid--3-cols,
	.grid--4-cols {
		grid-template-columns: repeat(2, 1fr);
	}
	.heading-secondary {
		margin-bottom: 5rem;
	}

	html {
		/* font-size: 7px; */
	}
	/* Footer */
	.footer-grid {
		grid-template-columns: repeat(6, 1fr);
		column-gap: 6.4rem;
		row-gap: 10.4rem;
	}
	.footer-column:nth-child(1),
	.footer-column:nth-child(2) {
		grid-row: 2;
		grid-column: span 3;
	}

	.footer-column:nth-child(3),
	.footer-column:nth-child(4),
	.footer-column:nth-child(5) {
		grid-column: span 2;
	}
	/* Benefit pricing */
	.price-describe {
		/* letter-spacing: 0; */
	}
	.pricing-board.grid {
		padding: 0;
		gap: 5.2rem;
	}
	.pricing-card {
		padding-left: 4.2rem;
		padding-right: 4.2rem;
	}
	.pricing-feature-board {
		gap: 2rem;
	}

	.diet-board {
		justify-self: center;
		grid-column: 1 / -1;
	}
	.pricing-feature-board li span {
		letter-spacing: -0.35px;
	}
}

@media (max-width: 30.3em) {
	.btn:link,
	.btn:visited {
		padding: 2rem 1.6rem;
	}
	.grid--2-cols,
	.grid--3-cols,
	.grid--4-cols {
		grid-template-columns: 1fr;
	}
	.grid {
		row-gap: 4.8rem;
	}
	.hero {
		padding: 0 3.2rem;
	}
	.hero-img {
		width: 80%;
	}
	.featured-logo-board > img {
		height: 1.4rem;
	}
	.step-img-box {
		transform: translateY(3rem);
	}
	.step-img-box:nth-child(2) {
		grid-row: 1;
	}
	.step-img-box:nth-of-type(6) {
		grid-row: 5;
	}
	.gallery.grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 1.2rem;
	}

	.cta-board.grid {
		grid-template-columns: 1fr;
	}
	.cta-photo {
		grid-row: 1;
		height: 32rem;
	}
	.cta-text {
		padding: 3rem;
	}
}

.no-flexbox-gap .delivered-meals img:not(:last-child) {
	margin-right: 2.4rem;
}
